@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 4px;
  display: flex;
  flex-direction: row;
  align-items: centre;
}

.titleUnderline {
    display: block;
    width: 380px;
    height: 1px;
    background-color: var(--color-primary);
    /* margin-top: 8px; */
    /* margin-bottom: 30px; */
    margin: auto;
    margin-left: 10px;
    border-radius: 25px;
    align-items: center;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 18px;
  margin-top: 32px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link :hover{
  color: var(--color-primary);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}